
body
{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  display: flex ;
  align-items: center;
}


/* optimization */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media only screen and (max-width:768px) {
  
} */
.container
{
  max-width: 355px;
  margin: 0 auto;
}
.tutt
{
  background-color:  hsl(0, 0%, 100%);
  padding: 16px;
  border-radius: 20px;
  margin: 0 1em;
  
}

.imgg
{
  
  border-radius: 10px;
  width: 100%;
  
}

.head
{ 
  padding: 22px 10px;
  color: hsl(218, 44%, 22%);
  text-align: center;
  font-weight: 700;
  font-size: 23px;

}
.para
{
  
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  padding-bottom: 15px;
}


